.CodeMirror-matchingbracket {  border:1px solid #ccc; margin:-1px;  }
.CodeMirror-nonmatchingbracket { border:1px solid #f00; margin:-1px; }

.CodeMirror { float:left; height:100%; width:50%; }

.clear { clear:both; margin:0; padding:0; border-width:0; visibility:hidden; }

.repl {
    font-family: monospace, courier;
    font-size:13px;
    float:left; 
    height:100%;
    width:50%;
    overflow-y:scroll; 
    margin:0;
    padding: 0;
    background-color:#f9f9f9; 
    border-width:0;
}

.errors {
    position:absolute;
    top:.5em; left:.5em;
    z-index:100; 
    width:46%; 
    margin:0; 
    padding: 0 2%;
    background-color:transparent;
    border-width:0; 
}

.error { background-color:#f00; color:#000; }

.inputbox:last-child { margin-bottom:1em; }

.inputbox {
    background-color:#fff;
    white-space: pre-wrap;
    display:block;
    border:1px solid #ccc;
    min-height:1em; 
    padding:2px 8px; 
}

.result { 
    white-space: pre-wrap;
    background-color: #eee;
    margin:0;
    padding: 2px 8px; 
}

.dump_button {
    z-index:99;
    font-size:36pt;
    position:absolute; right:50%;
    margin-right:16px;
    background-color: #eee;
    border: 3px solid #ccc;
    padding:0 .4em;
    cursor:pointer;
}

.dump_button .helptext { font-size:10pt; }

.dump_button:hover { color:#fff; }
