html { height:100%; }
body {
    padding:0;
    margin: 0;
    font-family:courier, monospace;
    height:100%;
    background-color:#eee;
}

#container {
    position:absolute;
    top:0; bottom:0;
    height:100%; width:100%;
}
#head { position:absolute; top:0; width:100%; background-color:#ccc;}
#demos { display:none; }
